<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">Polski</string>
    <string name="LanguageLabel">Język:</string>
    <string name="CombatLabel">Walka</string>
    <string name="AudioLabel">Audio</string>
    <string name="OtherLabel">Inne</string>
    <string name="SavedGameLabel">Zapisane stany gry</string>
    <string name="MenuNewGame">Nowa gra</string>
    <string name="MenuContinueGame">Kontynuuj</string>
    <string name="MenuCombat">Szybka bitwa</string>
    <string name="MenuSettings">Ustawienia</string>
    <string name="Settings">Ustawienia</string>
    <string name="DeleteSavedGameText">Jeżeli chcesz usunąć zapisany stan gry, naciśnij tutaj.</string>
    <string name="DeleteConfirmationText">Czy na pewno chcesz usunąć stan gry? (twoje zakupy zostaną zapisane)</string>
    <string name="RefreshGames">Odśwież</string>
    <string name="Configure">Konfiguracja</string>
    <string name="PowerSavingMode">Tryb oszczędzania baterii</string>
    <string name="RunInBackground">Gra pracuje w tle</string>
    <string name="QuickTravel">Animacja Szybkiej Podróży</string>
    <string name="CenterOnPlayer">Wyśrodkuj na graczu</string>
    <string name="CameraZoom">Przybliż</string>
    <string name="ShowDamageNumbers">Pokaż obrażenia</string>
    <string name="NotSignedIn">Nie zalogowano</string>
    <string name="LastSaveTime">Modyfikowane:</string>
    <string name="CreateNewSavedGame">Stwórz nowy zapis</string>
    <string name="SavedGameName">Nazwa:</string>
    <string name="LoadGame">Wczytaj</string>
    <string name="SaveGame">Zapisz</string>
    <string name="Delete">Usuń</string>
    <string name="SaveGameConfirmation">Czy nadpisać wybrany plik?</string>
    <string name="DeleteGameConfirmation">Usunąć wybrany plik?</string>
    <string name="LoadGameConfirmation">Załadować wybrany plik?</string>
    <string name="RestorePurchases">Przywróć zakupy</string>
    <string name="EnableAutoSave">Automatycznie zapisuj grę w chmurze</string>
    <string name="GameLoadingText">Ładowanie...</string>
    <string name="GameSavingText">Zapisywanie...</string>
    <string name="AutoSave">Autozapis</string>
    <string name="ControlsJoystick">Joystick</string>
    <string name="ControlsThrust">Przód</string>
    <string name="ControlsLeft">Lewo</string>
    <string name="ControlsRight">Prawo</string>
    <string name="ControlsAction0">Broń 1</string>
    <string name="ControlsAction1">Broń 2</string>
    <string name="ControlsAction2">Broń 3</string>
    <string name="ControlsAction3">Broń 4</string>
    <string name="ControlsAction4">Broń 5</string>
    <string name="ControlsAction5">Broń 6</string>
    <string name="ControlEnabled">Włączono</string>
    <string name="LoadPreset">Wczytaj ustawienie:</string>
    <string name="Test">Test</string>
    <string name="SlideToMove">Steruj statkiem przesuwając palcem po ekranie</string>
    <string name="UseJoystickForThrust">Steruj silnikiem używając joysticka</string>
    <string name="StopWhenShooting">Wyłącza silnik w czasie ostrzału</string>
    <string name="AutoLaunchDrones">Automatycznie aktywuj drony</string>
    <string name="SignIn">Zaloguj</string>
    <string name="SignOut">Wyloguj</string>
    <string name="Achievements">Osiągnięcia</string>
    <string name="Difficulty">Poziom trudności</string>
    <string name="GameDifficultyInfo">Wyższe poziomy trudności sprawiają, że wrogowie stają się potężniejsi, ale zwiększa także pozostawiane przez nich łupy. Po rozpoczęciu gry nie można zmienić poziomu trudności.</string>
    <string name="CombatDifficultyInfo">Wyższy poziom trudności sprawi, że wrogowie będą potężniejsi.</string>
    <string name="Easy">Łatwy</string>
    <string name="Normal">Trudny</string>
    <string name="NoMods">Oryginalna gra</string>
    <string name="AvailableMods">Dostępne modyfikacje:</string>
    <string name="LoadModConfirmation">Czy na pewno chcesz kontynuować? Każda modyfikacja ma własny zapis gry.</string>
    <string name="ResolutionLabel">Rozdzielczość:</string>
    <string name="WindowedMode">w oknie</string>
</resources>
