<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">Português</string>
    <string name="LanguageLabel">Idioma:</string>
    <string name="CombatLabel">Combate</string>
    <string name="AudioLabel">Audio</string>
    <string name="OtherLabel">Outros</string>
    <string name="SavedGameLabel">Jogo guardado</string>
    <string name="MenuNewGame">Novo jogo</string>
    <string name="MenuContinueGame">Continuar jogo</string>
    <string name="MenuCombat">Batalha rápida</string>
    <string name="MenuSettings">Definições</string>
    <string name="Settings">Definições</string>
    <string name="DeleteSavedGameText">Se quiser apagar um jogo guardado, clique neste botão.</string>
    <string name="DeleteConfirmationText">Quer mesmo apagar o jogo guardado? (As suas compras serão mantidas)</string>
    <string name="RefreshGames">Atualizar</string>
    <string name="Configure">Configurar</string>
    <string name="PowerSavingMode">Modo de poupança de energia</string>
    <string name="RunInBackground">Deixar o jogo ligado de fundo</string>
    <string name="QuickTravel">Animação de viagem rápida</string>
    <string name="CenterOnPlayer">Centrar no jogador</string>
    <string name="CameraZoom">Zoom</string>
    <string name="ShowDamageNumbers">Mostrar os números de dano</string>
    <string name="NotSignedIn">Não conectado</string>
    <string name="LastSaveTime">Modificado:</string>
    <string name="CreateNewSavedGame">Criar um novo jogo guardado</string>
    <string name="SavedGameName">Nome:</string>
    <string name="LoadGame">Carregar jogo</string>
    <string name="SaveGame">Guardar jogo</string>
    <string name="Delete">Apagar</string>
    <string name="SaveGameConfirmation">Queres subscrever o ficheiro selecionado?</string>
    <string name="DeleteGameConfirmation">Queres apagar o ficheiro selecionado?</string>
    <string name="LoadGameConfirmation">Queres carregar o ficheiro selecionado?</string>
    <string name="RestorePurchases">Restaurar Compras</string>
    <string name="EnableAutoSave">Guardar o jogo na nuvem automaticamente</string>
    <string name="GameLoadingText">A Carregar...</string>
    <string name="GameSavingText">A Guardar o jogo....</string>
    <string name="ControlsJoystick">Joystick</string>
    <string name="ControlsThrust">Frente</string>
    <string name="ControlsLeft">Esquerda</string>
    <string name="ControlsRight">Direita</string>
    <string name="ControlsAction0">Arma 1</string>
    <string name="ControlsAction1">Arma 2</string>
    <string name="ControlsAction2">Arma 3</string>
    <string name="ControlsAction3">Arma 4</string>
    <string name="ControlsAction4">Arma 5</string>
    <string name="ControlsAction5">Arma 6</string>
    <string name="ControlEnabled">Ativado</string>
    <string name="LoadPreset">Predefinições:</string>
    <string name="Test">Testar</string>
    <string name="SlideToMove">Mover a nave deslizando o teu dedo no ecrã</string>
    <string name="UseJoystickForThrust">Controlar os motores com o joystick</string>
    <string name="StopWhenShooting">Desligar o motor quando dispara</string>
    <string name="AutoLaunchDrones">Lançar os drones automaticamente</string>
    <string name="SignIn">Entrar</string>
    <string name="SignOut">Sair</string>
    <string name="Achievements">Proezas</string>
    <string name="Difficulty">Nivel de dificuldade</string>
    <string name="GameDifficultyInfo">Um nível mais difícil torna os inimigos mais fortes, mas também dá mais recompensas. Você não pode mudar o nível de dificuldade sem começar um novo jogo.</string>
    <string name="CombatDifficultyInfo">Um nível mais difícil torna os inimigos mais fortes.</string>
    <string name="Easy">Fácil</string>
    <string name="Normal">Difícil</string>
    <string name="NoMods">Jogo Original</string>
    <string name="AvailableMods">Modificações disponíveis</string>
    <string name="LoadModConfirmation">Queres mesmo continuar? Cada modificação tem o seu próprio jogo guardado.</string>
    <string name="ResolutionLabel">Resolução:</string>
</resources>
