<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">Français</string>
    <string name="LanguageLabel">Langue :</string>
    <string name="CombatLabel">Combat</string>
    <string name="AudioLabel">Audio</string>
    <string name="OtherLabel">Autre</string>
    <string name="SavedGameLabel">Partie sauvegardée</string>
    <string name="MenuNewGame">Nouvelle partie</string>
    <string name="MenuContinueGame">Reprendre la partie</string>
    <string name="MenuCombat">Combat rapide</string>
    <string name="MenuSettings">Paramètres</string>
    <string name="Settings">Paramètres</string>
    <string name="DeleteSavedGameText">Si vous voulez supprimer votre partie sauvegardée, appuyez sur ce bouton.</string>
    <string name="DeleteConfirmationText">Voulez-vous vraiment supprimer votre partie en cours ? (Vos achats seront préservés)</string>
    <string name="RefreshGames">Rafraîchir</string>
    <string name="Configure">Configuration</string>
    <string name="PowerSavingMode">Mode économie d\'énergie</string>
    <string name="RunInBackground">Lancer le jeu en arrière-plan</string>
    <string name="QuickTravel">Animation de voyage rapide</string>
    <string name="CenterOnPlayer">Centrer sur le joueur</string>
    <string name="CameraZoom">Zoom</string>
    <string name="ShowDamageNumbers">Afficher les dégâts</string>
    <string name="NotSignedIn">Non connecté</string>
    <string name="LastSaveTime">Modifié:</string>
    <string name="CreateNewSavedGame">Crée une nouvelle sauvegarde de jeu</string>
    <string name="SavedGameName">Nom:</string>
    <string name="LoadGame">Charger la partie</string>
    <string name="SaveGame">Sauvegarder la partie</string>
    <string name="Delete">Supprimer</string>
    <string name="SaveGameConfirmation">Voulez-vous écraser les fichiers sélectionnés?</string>
    <string name="DeleteGameConfirmation">Voulez-vous supprimer les fichiers sélectionnés?</string>
    <string name="LoadGameConfirmation">Voulez-vous charger les fichiers sélectionnés?</string>
    <string name="RestorePurchases">Restaurer les achats</string>
    <string name="EnableAutoSave">Sauvegarder automatiquement vers le cloud</string>
    <string name="GameLoadingText">Chargement...</string>
    <string name="GameSavingText">Sauvegarde de la partie</string>
    <string name="AutoSave">Sauvegarde automatique</string>
    <string name="ControlsJoystick">Joystick</string>
    <string name="ControlsThrust">Avant</string>
    <string name="ControlsLeft">Tourner à gauche</string>
    <string name="ControlsRight">Tourner à droite</string>
    <string name="ControlsAction0">Arme 1</string>
    <string name="ControlsAction1">Arme 2</string>
    <string name="ControlsAction2">Arme 3</string>
    <string name="ControlsAction3">Arme 4</string>
    <string name="ControlsAction4">Arme 5</string>
    <string name="ControlsAction5">Arme 6</string>
    <string name="ControlEnabled">Activé</string>
    <string name="LoadPreset">Charger les paramètres prédéfinis :</string>
    <string name="Test">Test</string>
    <string name="SlideToMove">Bouger le vaisseau en glissant le doigt à travers l\'écran</string>
    <string name="UseJoystickForThrust">Contrôler les moteurs avec le joystick</string>
    <string name="StopWhenShooting">Désactiver les moteurs lors du tir</string>
    <string name="AutoLaunchDrones">Lancer les drones automatiquement</string>
    <string name="SignIn">Connexion</string>
    <string name="SignOut">Déconnexion</string>
    <string name="Achievements">Succès</string>
    <string name="Difficulty">Niveau de difficulté</string>
    <string name="GameDifficultyInfo">Un niveau de difficulté plus élevé rend les ennemis plus fort, mais rapporte aussi davantage de butin. Vous ne pouvez changer la difficulté sans commencer une nouvelle partie.</string>
    <string name="CombatDifficultyInfo">Un plus haut niveau de difficulté rendra les ennemis plus forts.</string>
    <string name="Easy">Facile</string>
    <string name="Normal">Difficile</string>
    <string name="NoMods">Jeu original</string>
    <string name="AvailableMods">Modifications possibles:</string>
    <string name="LoadModConfirmation">Voulez-vous réellement continuer ? Chaque modification à sa propre partie sauvegardée.</string>
    <string name="ResolutionLabel">Résolution</string>
    <string name="WindowedMode">Fenêtré</string>
    <string name="KeyTurnLeft">Tournez à gauche</string>
    <string name="KeyTurnRight">Tournez à droite</string>
    <string name="KeyForward">Avancer</string>
    <string name="KeyAction1">Action 1</string>
    <string name="KeyAction2">Action 2</string>
    <string name="KeyAction3">Action 3</string>
    <string name="KeyAction4">Action 4</string>
    <string name="KeyAction5">Action 5</string>
    <string name="KeyAction6">Action 6</string>
</resources>
