<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">Deutsch</string>
    <string name="LanguageLabel">Sprache:</string>
    <string name="CombatLabel">Kampf</string>
    <string name="AudioLabel">Audio</string>
    <string name="OtherLabel">Andere</string>
    <string name="SavedGameLabel">Gespeichertes Spiel</string>
    <string name="MenuNewGame">Neues Spiel</string>
    <string name="MenuContinueGame">Fortsetzen</string>
    <string name="MenuCombat">Freies Spiel</string>
    <string name="MenuSettings">Einstellungen</string>
    <string name="Settings">Einstellungen</string>
    <string name="DeleteSavedGameText">Zum löschen des gespeicherten Spiels, drücke diesen Knopf.</string>
    <string name="DeleteConfirmationText">Bist du absolut sicher, dass du deine Daten löschen willst? (Einkäufe bleiben erhalten)</string>
    <string name="RefreshGames">Aktualisieren</string>
    <string name="Configure">Einstellen</string>
    <string name="PowerSavingMode">Energiesparmodus</string>
    <string name="RunInBackground">Das Spiel im Hintergrund laufen lassen.</string>
    <string name="QuickTravel">Schnellreise Animation</string>
    <string name="CenterOnPlayer">Auf Spieler zentrieren</string>
    <string name="CameraZoom">Zoom</string>
    <string name="ShowDamageNumbers">Zeige Schadensnummern</string>
    <string name="NotSignedIn">nicht angemeldet</string>
    <string name="LastSaveTime">Modifiziert:</string>
    <string name="CreateNewSavedGame">Erstelle einen neuen Spielstand</string>
    <string name="LoadGame">Spiel laden</string>
    <string name="SaveGame">Spiel speichern</string>
    <string name="Delete">Löschen</string>
    <string name="SaveGameConfirmation">Möchten Sie den ausgewählten Speicherstand wirklich überschreiben?</string>
    <string name="DeleteGameConfirmation">Möchten Sie den ausgewählten Speicherstand wirklich löschen?</string>
    <string name="LoadGameConfirmation">Möchten Sie den ausgewählten Speicherstand wirklich laden?</string>
    <string name="RestorePurchases">Einkäufe wiederherstellen</string>
    <string name="EnableAutoSave">Spielstand automatisch in der Cloud speichern</string>
    <string name="GameLoadingText">Lädt...</string>
    <string name="GameSavingText">Spiel wird gespeichert...</string>
    <string name="AutoSave">AutoSpeichern</string>
    <string name="ControlsJoystick">Joystick</string>
    <string name="ControlsThrust">Vorwärts</string>
    <string name="ControlsLeft">Nach links drehen</string>
    <string name="ControlsRight">Nach rechts drehen</string>
    <string name="ControlsAction0">Waffe 1</string>
    <string name="ControlsAction1">Waffe 2</string>
    <string name="ControlsAction2">Waffe 3</string>
    <string name="ControlsAction3">Waffe 4</string>
    <string name="ControlsAction4">Waffe 5</string>
    <string name="ControlsAction5">Waffe 6</string>
    <string name="ControlEnabled">Anzeigen</string>
    <string name="LoadPreset">Standard wiederherstellen:</string>
    <string name="Test">Test</string>
    <string name="SlideToMove">Zum Bewegen des Schiffs, ziehe den Finger über den Bildschirm:</string>
    <string name="UseJoystickForThrust">Antriebe durch bewegen des Joysticks kontrollieren</string>
    <string name="StopWhenShooting">Antriebe während dem Feuern ausschalten</string>
    <string name="AutoLaunchDrones">Drohnen automatisch aussenden</string>
    <string name="SignIn">Anmelden</string>
    <string name="SignOut">Abmelden</string>
    <string name="Achievements">Errungenschaften</string>
    <string name="Difficulty">Schwierigkeit</string>
    <string name="GameDifficultyInfo">Der höhere Schwierigkeitsgrad macht die Gegner stärker, aber du erhältst bessere Belohnung. Du kannst die Schwierigkeit nicht ändern ohne ein neues Spiel zu starten.</string>
    <string name="CombatDifficultyInfo">Der höhere Schwierigkeitsgrad macht die Gegner stärker.</string>
    <string name="Easy">Leicht</string>
    <string name="Normal">Schwer</string>
    <string name="NoMods">Ursprüngliches Spiel</string>
    <string name="AvailableMods">verfügbare Modifikationen:</string>
    <string name="LoadModConfirmation">Möchten Sie wirklich fortfahren? Jede Modifikation hat einen eigenen Spielstand.</string>
    <string name="ResolutionLabel">Auflösung:</string>
</resources>
