<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">中文</string>
    <string name="LanguageLabel">语言：</string>
    <string name="CombatLabel">战斗</string>
    <string name="AudioLabel">音效</string>
    <string name="OtherLabel">其它</string>
    <string name="SavedGameLabel">保存的游戏</string>
    <string name="MenuNewGame">新游戏</string>
    <string name="MenuContinueGame">继续游戏</string>
    <string name="MenuCombat">快速战斗</string>
    <string name="MenuSettings">设置</string>
    <string name="Settings">设置</string>
    <string name="DeleteSavedGameText">如果你想删除存档就点击这个按钮</string>
    <string name="DeleteConfirmationText">你真的要删除存档吗？( 内购项目不会丢失 )</string>
    <string name="RefreshGames">刷新列表</string>
    <string name="Configure">键位配置</string>
    <string name="PowerSavingMode">节电模式</string>
    <string name="RunInBackground">使游戏在后台仍保持运行</string>
    <string name="QuickTravel">航行动画快进</string>
    <string name="CenterOnPlayer">玩家飞船居中</string>
    <string name="CameraZoom">视野</string>
    <string name="ShowDamageNumbers">显示伤害数值</string>
    <string name="NotSignedIn">未登录</string>
    <string name="LastSaveTime">修改的:</string>
    <string name="CreateNewSavedGame">创建一个保存的游戏</string>
    <string name="SavedGameName">名称：</string>
    <string name="LoadGame">载入</string>
    <string name="SaveGame">保存</string>
    <string name="Delete">删除存档</string>
    <string name="SaveGameConfirmation">你想覆盖选择的文件吗?</string>
    <string name="DeleteGameConfirmation">你想删除选择的文件吗?</string>
    <string name="LoadGameConfirmation">你想载入选择的文件吗?</string>
    <string name="RestorePurchases">恢复购买</string>
    <string name="EnableAutoSave">自动保存游戏到GooglePlay</string>
    <string name="GameLoadingText">载入中...</string>
    <string name="GameSavingText">保存中...</string>
    <string name="AutoSave">自动保存</string>
    <string name="ControlsJoystick">虚拟摇杆</string>
    <string name="ControlsThrust">向前</string>
    <string name="ControlsLeft">左转</string>
    <string name="ControlsRight">右转</string>
    <string name="ControlsAction0">按键1</string>
    <string name="ControlsAction1">按键2</string>
    <string name="ControlsAction2">按键3</string>
    <string name="ControlsAction3">按键4</string>
    <string name="ControlsAction4">按键5</string>
    <string name="ControlsAction5">按键6</string>
    <string name="ControlEnabled">启用</string>
    <string name="LoadPreset">载入预设键位:</string>
    <string name="Test">测试键位</string>
    <string name="SlideToMove">在屏幕上拖动控制飞船移动</string>
    <string name="UseJoystickForThrust">使用摇杆控制引擎</string>
    <string name="StopWhenShooting">开火时关闭引擎</string>
    <string name="AutoLaunchDrones">自动放出无人机</string>
    <string name="SignIn">登录</string>
    <string name="SignOut">注销</string>
    <string name="Achievements">成就</string>
    <string name="Difficulty">难度系数</string>
    <string name="GameDifficultyInfo">更高的难度让敌人更加强大，但是也提供了更高的奖励。你不能改变难度除非开始一场新的游戏。</string>
    <string name="CombatDifficultyInfo">高难度等级会使敌人更强大。</string>
    <string name="Easy">简单</string>
    <string name="Normal">困难</string>
    <string name="NoMods">原版</string>
    <string name="AvailableMods">可用模组：</string>
    <string name="LoadModConfirmation">你确定要继续吗？每个模组都有独立的存档。</string>
    <string name="ResolutionLabel">分辨率:</string>
    <string name="WindowedMode">窗口化</string>
</resources>
