<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">English</string>
    <string name="LanguageLabel">Language:</string>
    <string name="CombatLabel">Combat</string>
    <string name="AudioLabel">Audio</string>
    <string name="OtherLabel">Other</string>
    <string name="SavedGameLabel">Saved game</string>
    <string name="MenuNewGame">New game</string>
    <string name="MenuContinueGame">Resume game</string>
    <string name="MenuCombat">Quick battle</string>
    <string name="MenuSettings">Settings</string>
    <string name="Settings">Settings</string>
    <string name="DeleteSavedGameText">If you want to delete the saved game, press this button.</string>
    <string name="DeleteConfirmationText">Do you really want to delete the saved game? (Your purchases will be saved)</string>
    <string name="RefreshGames">Refresh</string>
    <string name="Configure">Configure</string>
    <string name="PowerSavingMode">Power saving mode</string>
    <string name="RunInBackground">Run the game in the background</string>
    <string name="QuickTravel">Fast travel animation</string>
    <string name="CenterOnPlayer">Center on player</string>
    <string name="CameraZoom">Zoom</string>
    <string name="ShowDamageNumbers">Show Damage Numbers</string>
    <string name="NotSignedIn">Not Signed In</string>
    <string name="LastSaveTime">Modified:</string>
    <string name="CreateNewSavedGame">Create new saved game</string>
    <string name="SavedGameName">Name:</string>
    <string name="LoadGame">Load</string>
    <string name="SaveGame">Save</string>
    <string name="Delete">Delete</string>
    <string name="SaveGameConfirmation">Do you want to overwrite the selected file?</string>
    <string name="DeleteGameConfirmation">Do you want to delete the selected file?</string>
    <string name="LoadGameConfirmation">Do you want to load the selected file?</string>
    <string name="RestorePurchases">Restore Purchases</string>
    <string name="EnableAutoSave">Automatically save game to cloud</string>
    <string name="GameLoadingText">Loading...</string>
    <string name="GameSavingText">Saving Game...</string>
    <string name="AutoSave">AutoSave</string>
    <string name="ControlsJoystick">Joystick</string>
    <string name="ControlsThrust">Forward</string>
    <string name="ControlsLeft">Turn Left</string>
    <string name="ControlsRight">Turn Right</string>
    <string name="ControlsAction0">Weapon 1</string>
    <string name="ControlsAction1">Weapon 2</string>
    <string name="ControlsAction2">Weapon 3</string>
    <string name="ControlsAction3">Weapon 4</string>
    <string name="ControlsAction4">Weapon 5</string>
    <string name="ControlsAction5">Weapon 6</string>
    <string name="ControlEnabled">Enabled</string>
    <string name="LoadPreset">Load preset:</string>
    <string name="Test">Test</string>
    <string name="SlideToMove">Move the ship by sliding your finger across the screen</string>
    <string name="UseJoystickForThrust">Control the engine using a joystick</string>
    <string name="StopWhenShooting">Turn off the engine when firing</string>
    <string name="AutoLaunchDrones">Launch drones automatically</string>
    <string name="SignIn">Sign In</string>
    <string name="SignOut">Sign Out</string>
    <string name="Achievements">Achievements</string>
    <string name="Difficulty">Difficulty level</string>
    <string name="GameDifficultyInfo">The Higher difficulty makes enemies stronger, but also provides more loot. You cannot change the difficulty without starting a new game.</string>
    <string name="CombatDifficultyInfo">Higher difficulty level will make enemies stronger.</string>
    <string name="Easy">Easy</string>
    <string name="Normal">Hard</string>
    <string name="NoMods">Original Game</string>
    <string name="AvailableMods">Available modifications:</string>
    <string name="LoadModConfirmation">Do you really want to proceed? Each modification has its own saved game.</string>
    <string name="ResolutionLabel">Resolution:</string>
    <string name="WindowedMode">windowed</string>
    <string name="KeyTurnLeft">Turn Left</string>
    <string name="KeyTurnRight">Turn Right</string>
    <string name="KeyForward">Move Forward</string>
    <string name="KeyAction1">Action 1</string>
    <string name="KeyAction2">Action 2</string>
    <string name="KeyAction3">Action 3</string>
    <string name="KeyAction4">Action 4</string>
    <string name="KeyAction5">Action 5</string>
    <string name="KeyAction6">Action 6</string>
</resources>
