<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">Հայերէն</string>
    <string name="LanguageLabel">Լեզու։</string>
    <string name="CombatLabel">Պայքար</string>
    <string name="AudioLabel">Ձայն</string>
    <string name="OtherLabel">Ուրիշ</string>
    <string name="SavedGameLabel">Պահպանված խաղ</string>
    <string name="MenuNewGame">Նոր խաղ</string>
    <string name="MenuContinueGame">Շարունակել խաղը</string>
    <string name="MenuCombat">Արագ կռիվ</string>
    <string name="MenuSettings">Կարգավորումներ</string>
    <string name="Settings">Կարգավորումներ</string>
    <string name="DeleteSavedGameText">Եթե ցանկանում եք ջնջել պահպանված խաղը, սեղմեք այս կոճակը:</string>
    <string name="DeleteConfirmationText">Դուք իսկապես ուզում եք ջնջել պահպանված խաղը? (Ձեր գնումները կպահպանվեն)</string>
    <string name="RefreshGames">Թարմացնել</string>
    <string name="Configure">Կազմաձեւել</string>
    <string name="PowerSavingMode">Էներգախնայողության ռեժիմ</string>
    <string name="RunInBackground">Միացած թողնել խաղը ֆոնում</string>
    <string name="QuickTravel">Արագ ճանապարհորդության անիմացիա</string>
    <string name="CenterOnPlayer">Կենտրոնացվել խաղացողի վրա</string>
    <string name="CameraZoom">Խոշորացում</string>
    <string name="ShowDamageNumbers">Ցույց Տալ Վնասի Թվերը</string>
    <string name="NotSignedIn">Դուք դեռ չեք ստորագրվել</string>
    <string name="LastSaveTime">Փոփոխված:</string>
    <string name="CreateNewSavedGame">Ստեղծել նոր պահպանված խաղ</string>
    <string name="SavedGameName">Անուն։</string>
    <string name="LoadGame">բեռնավորել</string>
    <string name="SaveGame">Պահպանել</string>
    <string name="Delete">Ջնջել</string>
    <string name="SaveGameConfirmation">Ցանկանում եք վերագրանցել ընտրված ֆայլը:</string>
    <string name="DeleteGameConfirmation">Ցանկանում եք ջնջել ընտրված ֆայլը:</string>
    <string name="LoadGameConfirmation">Ցանկանում եք բեռնավորել ընտրված ֆայլը:</string>
    <string name="RestorePurchases">Վերականգնել գնումները</string>
    <string name="EnableAutoSave">Ավտոմատ պահպանել խաղը Ամպում</string>
    <string name="GameLoadingText">Բեռնվում է...</string>
    <string name="GameSavingText">Խաղը պահպանվում է․․․</string>
    <string name="AutoSave">Ավտոմատ պահպանում</string>
    <string name="ControlsJoystick">Ջոյստիկ</string>
    <string name="ControlsThrust">Առաջ</string>
    <string name="ControlsLeft">Պտտվել ձախ</string>
    <string name="ControlsRight">Պտտվել աջ</string>
    <string name="ControlsAction0">Զենք 1</string>
    <string name="ControlsAction1">Զենք 2</string>
    <string name="ControlsAction2">Զենք 3</string>
    <string name="ControlsAction3">Զենք 4</string>
    <string name="ControlsAction4">Զենք 5</string>
    <string name="ControlsAction5">Զենք 6</string>
    <string name="ControlEnabled">Ներառված է</string>
    <string name="LoadPreset">Բեռնավորել Նախադրումը</string>
    <string name="Test">Փորձ</string>
    <string name="SlideToMove">Տեղափոխեք նավը, սահեցնելով ձեր մատը էկրանով</string>
    <string name="UseJoystickForThrust">Շարժիչի կառավարում ջոյստիկի միջոցով</string>
    <string name="StopWhenShooting">Անջատել շարժիչը, երբ կրակում եք</string>
    <string name="AutoLaunchDrones">Ավտոմատ մեկնարկել դրոններին</string>
    <string name="SignIn">Գրանցվել</string>
    <string name="SignOut">Ելք գործել</string>
    <string name="Achievements">Ձեռքբերումներ</string>
    <string name="Difficulty">Դժվարության մակարդակ</string>
    <string name="GameDifficultyInfo">Բարձրագույն բարդությունը դարձնում է թշնամիներին ավելի ուժեղ, բայց նաեւ ապահովում է ավելի շատ ապրանք։ Դուք չեք կարող փոխել բարդությունը, առանց նոր խաղ սկսելու։</string>
    <string name="CombatDifficultyInfo">Ավելի բարձր բարդության մակարդակը կդարձնի թշնամիներին ավելի ուժեղ։</string>
    <string name="Easy">Հեշտ</string>
    <string name="Normal">Բարդ</string>
    <string name="NoMods">Բնօրինակ խաղ</string>
    <string name="AvailableMods">Հասանելի մոդիֆիկացիաներ</string>
    <string name="LoadModConfirmation">Դուք իսկապես ուզում եք շարունակել? Յուրաքանչյուր փոփոխություն ունի իր սեփական պահպանված խաղը։</string>
    <string name="ResolutionLabel">Էկրանի Բանաձեւ:</string>
    <string name="WindowedMode">windowed</string>
</resources>
