<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">Português Brasileiro</string>
    <string name="LanguageLabel">Idioma:</string>
    <string name="CombatLabel">Combate</string>
    <string name="AudioLabel">Áudio</string>
    <string name="OtherLabel">Outros</string>
    <string name="SavedGameLabel">Jogo salvo</string>
    <string name="MenuNewGame">Novo jogo</string>
    <string name="MenuContinueGame">Continuar jogo</string>
    <string name="MenuCombat">Batalha rápida</string>
    <string name="MenuSettings">Definições</string>
    <string name="Settings">Definições</string>
    <string name="DeleteSavedGameText">Se você quiser excluir o jogo salvo, pressione este botão.</string>
    <string name="DeleteConfirmationText">Você realmente quer apagar o jogo salvo?  (Suas compras serão salvas)</string>
    <string name="RefreshGames">Atualizar</string>
    <string name="Configure">Configurar</string>
    <string name="PowerSavingMode">Modo de economia de energia</string>
    <string name="QuickTravel">Animação de viagem rápida</string>
    <string name="CenterOnPlayer">Centrar no jogador</string>
    <string name="CameraZoom">Zoom</string>
    <string name="ShowDamageNumbers">Mostrar números de dano</string>
    <string name="NotSignedIn">Não conectado</string>
    <string name="LastSaveTime">Modificado:</string>
    <string name="CreateNewSavedGame">Criar novo jogo salvo</string>
    <string name="SavedGameName">Nome:</string>
    <string name="LoadGame">Carregar</string>
    <string name="SaveGame">Salvar</string>
    <string name="Delete">Deletar</string>
    <string name="SaveGameConfirmation">Você quer sobrescrever o arquivo selecionado?</string>
    <string name="DeleteGameConfirmation">Você quer deletar o arquivo selecionado?</string>
    <string name="LoadGameConfirmation">Você quer carregar o arquivo selecionado?</string>
    <string name="RestorePurchases">Restaurar compras</string>
    <string name="EnableAutoSave">Salvar automaticamente o jogo na nuvem</string>
    <string name="GameLoadingText">Carregando...</string>
    <string name="GameSavingText">Salvando jogo...</string>
    <string name="AutoSave">Salvamento automático</string>
    <string name="ControlsJoystick">Joystick</string>
    <string name="ControlsThrust">Para frente</string>
    <string name="ControlsLeft">esquerda</string>
    <string name="ControlsRight">Direita</string>
    <string name="ControlsAction0">Arma 1</string>
    <string name="ControlsAction1">Arma 2</string>
    <string name="ControlsAction2">Arma 3</string>
    <string name="ControlsAction3">Arma 4</string>
    <string name="ControlsAction4">Arma 5</string>
    <string name="ControlsAction5">Arma 6</string>
    <string name="ControlEnabled">ativado</string>
    <string name="LoadPreset">Carregar predefinição:</string>
    <string name="Test">Teste</string>
    <string name="SlideToMove">Mover a nave deslizando o dedo pela tela</string>
    <string name="UseJoystickForThrust">Controle o motor usando o joystick</string>
    <string name="StopWhenShooting">Desligue o motor ao disparar</string>
    <string name="AutoLaunchDrones">Lançar drones automaticamente</string>
    <string name="SignIn">Entrar</string>
    <string name="SignOut">Sair</string>
    <string name="Achievements">Conquistas</string>
    <string name="Difficulty">Nível de dificuldade</string>
    <string name="GameDifficultyInfo">A Maior dificuldade deixa os inimigos mais fortes, mas também fornece mais recompensas.  Você não pode mudar a dificuldade sem iniciar um novo jogo.</string>
    <string name="CombatDifficultyInfo">Maior nível de dificuldade tornará os inimigos mais fortes.</string>
    <string name="Easy">Fácil</string>
    <string name="Normal">Difícil</string>
    <string name="NoMods">Jogo original</string>
    <string name="AvailableMods">Modificações disponíveis:</string>
    <string name="LoadModConfirmation">Você realmente quer continuar?  Cada modificação tem seu próprio jogo salvo.</string>
</resources>
