<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">Español</string>
    <string name="LanguageLabel">Idioma:</string>
    <string name="CombatLabel">Combate</string>
    <string name="AudioLabel">Sonido</string>
    <string name="OtherLabel">Otros</string>
    <string name="SavedGameLabel">Juego guardado</string>
    <string name="MenuNewGame">Nuevo Juego</string>
    <string name="MenuContinueGame">Reanudar Juego</string>
    <string name="MenuCombat">Batalla Rápida</string>
    <string name="MenuSettings">Opciones</string>
    <string name="Settings">Opciones</string>
    <string name="DeleteSavedGameText">Si quieres borrar tu juego guardado, presiona este boton.</string>
    <string name="DeleteConfirmationText">¿Realmente deseas borrar tu juego guardado? (Tus compras no se borran)</string>
    <string name="RefreshGames">Actualizar</string>
    <string name="Configure">Configurar</string>
    <string name="PowerSavingMode">Modo de Ahorro de Energía</string>
    <string name="QuickTravel">Animación de Viaje Rápido</string>
    <string name="CenterOnPlayer">Centrar en jugador</string>
    <string name="CameraZoom">Zoom</string>
    <string name="ShowDamageNumbers">Mostrar daño.</string>
    <string name="NotSignedIn">No estas conectado</string>
    <string name="LastSaveTime">Modificado:</string>
    <string name="CreateNewSavedGame">iniciar partida nueva.</string>
    <string name="SavedGameName">Nombre:</string>
    <string name="LoadGame">Cargar juego.</string>
    <string name="SaveGame">Guardar juego</string>
    <string name="Delete">Eliminar</string>
    <string name="SaveGameConfirmation">¿Desea sobrescribir el archivo seleccionado?</string>
    <string name="DeleteGameConfirmation">¿Desea eliminar el archivo seleccionado?</string>
    <string name="LoadGameConfirmation">¿Desea cargar el archivo seleccionado?</string>
    <string name="RestorePurchases">Restaurar compras</string>
    <string name="EnableAutoSave">Guardar automáticamente en la nube.</string>
    <string name="GameLoadingText">Cargando...</string>
    <string name="GameSavingText">Guardando juego...</string>
    <string name="AutoSave">Autoguardado</string>
    <string name="ControlsJoystick">Joystick</string>
    <string name="ControlsThrust">Adelante</string>
    <string name="ControlsLeft">Girar a la Izquierda</string>
    <string name="ControlsRight">Girar a la Derecha</string>
    <string name="ControlsAction0">Arma 1</string>
    <string name="ControlsAction1">Arma 2</string>
    <string name="ControlsAction2">Arma 3</string>
    <string name="ControlsAction3">Arma 4</string>
    <string name="ControlsAction4">Arma 5</string>
    <string name="ControlsAction5">Arma 6</string>
    <string name="ControlEnabled">Activo</string>
    <string name="LoadPreset">Cargar predefinido:</string>
    <string name="Test">Probar</string>
    <string name="SlideToMove">Mueve la nave deslizando el dedo por la pantalla</string>
    <string name="UseJoystickForThrust">Controlar el movimiento usando el Joystick</string>
    <string name="StopWhenShooting">Apagar el motor al disparar</string>
    <string name="AutoLaunchDrones">Lanzar Drones de manera automática.</string>
    <string name="SignIn">Registrarse</string>
    <string name="SignOut">Salir</string>
    <string name="Achievements">Logros</string>
    <string name="Difficulty">Nivel de Dificultad</string>
    <string name="GameDifficultyInfo">A mayor dificultad, los enemigos son más fuertes, pero obtienes mayor botín. No puedes cambiar la dificultad sin empezar un juego nuevo.</string>
    <string name="CombatDifficultyInfo">A mayor dificultad, los enemigos son más fuertes.</string>
    <string name="Easy">Fácil</string>
    <string name="Normal">Difícil</string>
    <string name="NoMods">Juego Original.</string>
    <string name="AvailableMods">Mods disponibles:</string>
    <string name="LoadModConfirmation">¿Quieres proceder? Cada mod tiene su propio archivo de guardado.</string>
</resources>
