<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">Magyar</string>
    <string name="LanguageLabel">Nyelv:</string>
    <string name="CombatLabel">Harc</string>
    <string name="AudioLabel">Hang</string>
    <string name="OtherLabel">Egyéb</string>
    <string name="SavedGameLabel">Játékmentés</string>
    <string name="MenuNewGame">Új játék</string>
    <string name="MenuContinueGame">Folytatás</string>
    <string name="MenuCombat">Gyors ütközet</string>
    <string name="MenuSettings">Beállítások</string>
    <string name="Settings">Beállítások</string>
    <string name="DeleteSavedGameText">A játékmentésed törléséhez nyomd meg a gombot.</string>
    <string name="DeleteConfirmationText">Biztosan törölni akarod a mentésed? (A vásárlásaid megmaradnak)</string>
    <string name="RefreshGames">Frissítés</string>
    <string name="Configure">Konfigurálás</string>
    <string name="PowerSavingMode">Energiatakarékos mód</string>
    <string name="RunInBackground">Játék futtatása a háttérben</string>
    <string name="QuickTravel">Gyors utazás animáció</string>
    <string name="CenterOnPlayer">Játékos mindig középen</string>
    <string name="CameraZoom">Nagyítás</string>
    <string name="ShowDamageNumbers">Sebzésértékek mutatása</string>
    <string name="NotSignedIn">Kijelentkezve</string>
    <string name="LastSaveTime">Mentés ideje:</string>
    <string name="CreateNewSavedGame">Új mentés létrehozása</string>
    <string name="SavedGameName">Név:</string>
    <string name="LoadGame">Betöltés</string>
    <string name="SaveGame">Mentés</string>
    <string name="Delete">Törlés</string>
    <string name="SaveGameConfirmation">Biztosan felül akarod írni?</string>
    <string name="DeleteGameConfirmation">Biztosan törölni akarod?</string>
    <string name="LoadGameConfirmation">Biztosan be akarod tölteni?</string>
    <string name="RestorePurchases">Vásárlások visszaállítása</string>
    <string name="EnableAutoSave">Játék automatikus mentése a felhőbe</string>
    <string name="GameLoadingText">Töltés...</string>
    <string name="GameSavingText">Mentés...</string>
    <string name="AutoSave">Automata Mentés</string>
    <string name="ControlsJoystick">Botkormány</string>
    <string name="ControlsThrust">Előre</string>
    <string name="ControlsLeft">Balra Fordul</string>
    <string name="ControlsRight">Jobbra Fordul</string>
    <string name="ControlsAction0">Fegyver 1</string>
    <string name="ControlsAction1">Fegyver 2</string>
    <string name="ControlsAction2">Fegyver 3</string>
    <string name="ControlsAction3">Fegyver 4</string>
    <string name="ControlsAction4">Fegyver 5</string>
    <string name="ControlsAction5">Fegyver 6</string>
    <string name="ControlEnabled">Engedélyezve</string>
    <string name="LoadPreset">Sablon használata:</string>
    <string name="Test">Teszt</string>
    <string name="SlideToMove">Hajó irányítása az ujj képernyőn való végighúzásával</string>
    <string name="UseJoystickForThrust">Hajtómű irányítása botkormánnyal</string>
    <string name="StopWhenShooting">Hajtómű leállítása tüzeléskor</string>
    <string name="AutoLaunchDrones">Drónok automatikus indítása</string>
    <string name="SignIn">Bejelentkezés</string>
    <string name="SignOut">Kijelentkezés</string>
    <string name="Achievements">Teljesítmények</string>
    <string name="Difficulty">Nehézségi szint</string>
    <string name="GameDifficultyInfo">Magasabb nehézségen az ellenségek erősebbek, de több zsákmányt is adnak. A nehézségi szint nem változtatható új játék indítása nélkül.</string>
    <string name="CombatDifficultyInfo">Magasabb nehézségen az ellenségek erősebbek.</string>
    <string name="Easy">Könnyű</string>
    <string name="Normal">Nehéz</string>
    <string name="NoMods">Eredeti Játék</string>
    <string name="AvailableMods">Elérhető mod csomagok:</string>
    <string name="LoadModConfirmation">Biztos vagy benne? Minden mod csomagnak van saját mentése.</string>
    <string name="ResolutionLabel">Felbontás:</string>
    <string name="WindowedMode">ablak</string>
</resources>
