<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">Türkçe</string>
    <string name="LanguageLabel">Dil:</string>
    <string name="CombatLabel">Çarpışma</string>
    <string name="AudioLabel">Ses</string>
    <string name="OtherLabel">Diğer</string>
    <string name="SavedGameLabel">Kayıtlı oyun</string>
    <string name="MenuNewGame">Yeni oyun</string>
    <string name="MenuContinueGame">Oyuna devam et</string>
    <string name="MenuCombat">Hızlı savaş</string>
    <string name="MenuSettings">Ayarlar</string>
    <string name="Settings">Ayarlar</string>
    <string name="DeleteSavedGameText">Kayıtlı oyunu silmek istiyorsan, bu tuşa bas</string>
    <string name="DeleteConfirmationText">Gerçekten kayıtlı oyunu silmek istiyormusun? (Satın aldıkların duracak)</string>
    <string name="RefreshGames">Yenile</string>
    <string name="Configure">Yapılandır</string>
    <string name="PowerSavingMode">Güç tasarrufu modu</string>
    <string name="QuickTravel">Hızlı seyahat animasyonu</string>
    <string name="CenterOnPlayer">Oyuncuyu ortala</string>
    <string name="CameraZoom">Yakınlaştır</string>
    <string name="ShowDamageNumbers">Hasar Sayılarını Göster</string>
    <string name="NotSignedIn">Oturum Açılmadı</string>
    <string name="LastSaveTime">Değiştirilmiş:</string>
    <string name="CreateNewSavedGame">Yeni bir oyuna başla</string>
    <string name="SavedGameName">İsim:</string>
    <string name="LoadGame">Yükle</string>
    <string name="SaveGame">Kaydet</string>
    <string name="Delete">Sil</string>
    <string name="SaveGameConfirmation">Seçilen dosyanın üzerine yazmak istiyor musunuz?</string>
    <string name="DeleteGameConfirmation">Seçilen dosyayı silmek istiyor musunuz?</string>
    <string name="LoadGameConfirmation">Seçilen dosyayı yüklemek istiyor musunuz?</string>
    <string name="RestorePurchases">Satın Almaları Geri Getir</string>
    <string name="EnableAutoSave">Buluta otomatik olarak oyunu kaydet</string>
    <string name="GameLoadingText">Yükleniyor...</string>
    <string name="GameSavingText">Kaydediliyor...</string>
    <string name="AutoSave">Otomatik Kayıt</string>
    <string name="ControlsJoystick">Joystick</string>
    <string name="ControlsThrust">İleri</string>
    <string name="ControlsLeft">Sola Dön</string>
    <string name="ControlsRight">Sağa Dön</string>
    <string name="ControlsAction0">Silah 1</string>
    <string name="ControlsAction1">Silah 2</string>
    <string name="ControlsAction2">Silah 3</string>
    <string name="ControlsAction3">Silah 4</string>
    <string name="ControlsAction4">Silah 5</string>
    <string name="ControlsAction5">Silah 6</string>
    <string name="ControlEnabled">Etkinleştirildi</string>
    <string name="LoadPreset">Önceki kayıttan yükle:</string>
    <string name="Test">Test</string>
    <string name="SlideToMove">Gemiyi parmağını ekran boyunca kaydırarak hareket ettirin.</string>
    <string name="UseJoystickForThrust">Motoru joystick yardımıyla kontrol edin</string>
    <string name="StopWhenShooting">Ateş ederken motoru kapat</string>
    <string name="AutoLaunchDrones">Drone\'ları otomatik başlat</string>
    <string name="SignIn">Giriş Yap</string>
    <string name="SignOut">Çıkış Yap</string>
    <string name="Achievements">Başarılar</string>
    <string name="Difficulty">Zorluk seviyesi</string>
    <string name="GameDifficultyInfo">Yüksek zorluk, düşmanları daha güçlü yapar, ancak daha çok ganimet sağlar. Yeni bir oyuna başlamadan zorluğu değiştiremezsiniz.</string>
    <string name="CombatDifficultyInfo">Yüksek zorluk seviyesi düşmanları daha güçlü yapacaktır.</string>
    <string name="Easy">Kolay</string>
    <string name="Normal">Zor</string>
    <string name="NoMods">Orjinal Oyun</string>
    <string name="AvailableMods">Müsait değişiklikler:</string>
    <string name="LoadModConfirmation">Gerçekten devam etmek istiyormusun? Her değişiklik kendi oyun kaydetmesine sahiptir.</string>
</resources>
