<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">Русский</string>
    <string name="LanguageLabel">Язык:</string>
    <string name="CombatLabel">Режим боя</string>
    <string name="AudioLabel">Аудио</string>
    <string name="OtherLabel">Прочее</string>
    <string name="SavedGameLabel">Сохранения</string>
    <string name="MenuNewGame">Новая игра</string>
    <string name="MenuContinueGame">Продолжить</string>
    <string name="MenuCombat">Быстрый бой</string>
    <string name="MenuSettings">Настройки</string>
    <string name="Settings">Настройки</string>
    <string name="DeleteSavedGameText">Если вы хотите начать игру с начала, нажмите эту кнопку, и ваш прогресс будет удален.</string>
    <string name="DeleteConfirmationText">Вы точно хотите начать игру сначала? (Ваши покупки сохранятся)</string>
    <string name="RefreshGames">Обновить</string>
    <string name="Configure">Настроить</string>
    <string name="PowerSavingMode">Режим экономии энергии</string>
    <string name="RunInBackground">Продолжать работу когда окно не активно</string>
    <string name="QuickTravel">Быстрая анимация полета</string>
    <string name="CenterOnPlayer">Игрок всегда в центре</string>
    <string name="CameraZoom">Масштаб</string>
    <string name="ShowDamageNumbers">Показывать урон</string>
    <string name="NotSignedIn">Вход не выполнен</string>
    <string name="LastSaveTime">Изменена:</string>
    <string name="CreateNewSavedGame">Создать новое сохранение</string>
    <string name="SavedGameName">Название:</string>
    <string name="LoadGame">Загрузить</string>
    <string name="SaveGame">Сохранить</string>
    <string name="Delete">Удалить</string>
    <string name="SaveGameConfirmation">Перезаписать этот файл?</string>
    <string name="DeleteGameConfirmation">Удалить этот файл?</string>
    <string name="LoadGameConfirmation">Загрузить эту игру?</string>
    <string name="RestorePurchases">Восстановить покупки</string>
    <string name="EnableAutoSave">Автосохранение в облаке</string>
    <string name="GameLoadingText">Игра загружается...</string>
    <string name="GameSavingText">Игра сохраняется...</string>
    <string name="AutoSave">Автосохранение</string>
    <string name="ControlsJoystick">Джойстик</string>
    <string name="ControlsThrust">Вперед</string>
    <string name="ControlsLeft">Влево</string>
    <string name="ControlsRight">Вправо</string>
    <string name="ControlsAction0">Оружие 1</string>
    <string name="ControlsAction1">Оружие 2</string>
    <string name="ControlsAction2">Оружие 3</string>
    <string name="ControlsAction3">Оружие 4</string>
    <string name="ControlsAction4">Оружие 5</string>
    <string name="ControlsAction5">Оружие 6</string>
    <string name="ControlEnabled">Включено</string>
    <string name="LoadPreset">Загрузить:</string>
    <string name="Test">Проверить</string>
    <string name="SlideToMove">Управлять кораблем, двигая пальцем по экрану</string>
    <string name="UseJoystickForThrust">Управлять двигателем при помощи джойстика</string>
    <string name="StopWhenShooting">Отключать двигатель при стрельбе</string>
    <string name="AutoLaunchDrones">Запускать дронов автоматически</string>
    <string name="SignIn">Войти</string>
    <string name="SignOut">Выйти</string>
    <string name="Achievements">Достижения</string>
    <string name="Difficulty">Выберите сложность</string>
    <string name="GameDifficultyInfo">Чем выше сложность, тем сильнее противники, но и награда выше. Вы сможете изменить сложность только начав игру сначала.</string>
    <string name="CombatDifficultyInfo">Чем выше сложность, тем сильнее противники.</string>
    <string name="Easy">Легко</string>
    <string name="Normal">Сложно</string>
    <string name="NoMods">Оригинальная игра</string>
    <string name="AvailableMods">Доступные модификации:</string>
    <string name="LoadModConfirmation">Вы точно хотите продолжить? У каждой модификации свой файл сохранения</string>
    <string name="ResolutionLabel">Разрешение:</string>
    <string name="WindowedMode">в окне</string>
</resources>
