<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">Italiano</string>
    <string name="LanguageLabel">Lingua:</string>
    <string name="CombatLabel">Combattimento</string>
    <string name="AudioLabel">Audio</string>
    <string name="OtherLabel">Altro</string>
    <string name="SavedGameLabel">Partita salvata</string>
    <string name="MenuNewGame">Nuova partita</string>
    <string name="MenuContinueGame">Riprendi partita</string>
    <string name="MenuCombat">Sfida rapida</string>
    <string name="MenuSettings">Impostazioni</string>
    <string name="Settings">Impostazioni</string>
    <string name="DeleteSavedGameText">Se vuoi cancellare la partita salvata, premi questo pulsante.</string>
    <string name="DeleteConfirmationText">Vuoi veramente cancellare la partita salvata? (I tuoi acquisti verranno mantenuti)</string>
    <string name="RefreshGames">Ricarica</string>
    <string name="Configure">Configura</string>
    <string name="PowerSavingMode">Modalità risparmio energetico</string>
    <string name="QuickTravel">Animazione di viaggio veloce</string>
    <string name="CenterOnPlayer">Centra sul giocatore</string>
    <string name="CameraZoom">Zoom</string>
    <string name="ShowDamageNumbers">Mostra danni inflitti</string>
    <string name="NotSignedIn">Non Collegato</string>
    <string name="LastSaveTime">Modificato:</string>
    <string name="CreateNewSavedGame">Crea un nuovo salvataggio</string>
    <string name="SavedGameName">Nome:</string>
    <string name="LoadGame">Carica</string>
    <string name="SaveGame">Salva</string>
    <string name="Delete">Cancella</string>
    <string name="SaveGameConfirmation">Vuoi sovrascrivere il file selezionato?</string>
    <string name="DeleteGameConfirmation">Vuoi cancellare il file selezionato?</string>
    <string name="LoadGameConfirmation">Vuoi caricare il file selezionato?</string>
    <string name="RestorePurchases">Ripristina Acquisti</string>
    <string name="EnableAutoSave">Salva automaticamente la partita su GooglePlay</string>
    <string name="GameLoadingText">Caricamento...</string>
    <string name="GameSavingText">Salvataggio in corso...</string>
    <string name="AutoSave">Auto Salvataggio</string>
    <string name="ControlsJoystick">Joystick</string>
    <string name="ControlsThrust">Avanti</string>
    <string name="ControlsLeft">Gira a sinistra</string>
    <string name="ControlsRight">Gira a destra</string>
    <string name="ControlsAction0">Arma 1</string>
    <string name="ControlsAction1">Arma 2</string>
    <string name="ControlsAction2">Arma 3</string>
    <string name="ControlsAction3">Arma 4</string>
    <string name="ControlsAction4">Arma 5</string>
    <string name="ControlsAction5">Arma 6</string>
    <string name="ControlEnabled">Abilitato</string>
    <string name="LoadPreset">Carica preimpostati</string>
    <string name="Test">Test</string>
    <string name="SlideToMove">Muovi la nave scorrendo il dito sullo schermo</string>
    <string name="UseJoystickForThrust">Controlla i motori usando il joystick</string>
    <string name="StopWhenShooting">Spegni i motori mentre stai sparando</string>
    <string name="AutoLaunchDrones">Lancia i droni automaticamente</string>
    <string name="SignIn">Accedi</string>
    <string name="SignOut">Esci</string>
    <string name="Achievements">Obiettivi</string>
    <string name="Difficulty">Livello di difficoltà</string>
    <string name="GameDifficultyInfo">Il livello di difficoltà più alto renderà i nemici più forti, ma ti fornirà ricompense maggiori. Non puoi cambiare il livello di difficoltà senza iniziare una nuova partita.</string>
    <string name="CombatDifficultyInfo">Il livello di difficoltà più alto renderà i nemici più forti.</string>
    <string name="Easy">Facile</string>
    <string name="Normal">Difficile</string>
</resources>
