<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">Čeština</string>
    <string name="LanguageLabel">Jazyk:</string>
    <string name="CombatLabel">Souboj</string>
    <string name="AudioLabel">Zvuk</string>
    <string name="OtherLabel">Ostatní</string>
    <string name="SavedGameLabel">Uložená hra</string>
    <string name="MenuNewGame">Nová hra</string>
    <string name="MenuContinueGame">Pokračovat ve hře</string>
    <string name="MenuCombat">Rychlá bitva</string>
    <string name="MenuSettings">Nastavení</string>
    <string name="Settings">Nastavení</string>
    <string name="DeleteSavedGameText">Pokud chcete vymazat uloženou hru, zmáčkněte toto tlačítko.</string>
    <string name="DeleteConfirmationText">Opravdu chcete smazat uloženou hru? (Nákupy budou uloženy)</string>
    <string name="RefreshGames">Obnovit</string>
    <string name="Configure">Konfigurovat</string>
    <string name="PowerSavingMode">Úsporný režim</string>
    <string name="QuickTravel">Animace rychlého cestování</string>
    <string name="CenterOnPlayer">Zaměřeno na hráče</string>
    <string name="CameraZoom">Přiblížení</string>
    <string name="ShowDamageNumbers">Ukazatel uděleného poškození</string>
    <string name="NotSignedIn">Nejste přihlášen</string>
    <string name="LastSaveTime">Modifikován:</string>
    <string name="CreateNewSavedGame">Vytvořit novou uloženou hru</string>
    <string name="SavedGameName">Jméno:</string>
    <string name="LoadGame">Načíst</string>
    <string name="SaveGame">Uložit</string>
    <string name="Delete">Smazat</string>
    <string name="SaveGameConfirmation">Chcete přepsat vybraný soubor?</string>
    <string name="DeleteGameConfirmation">Opravdu chcete vymazat vybraný soubor?</string>
    <string name="LoadGameConfirmation">Chcete načíst vybraný soubor?</string>
    <string name="RestorePurchases">Obnovit nákupy</string>
    <string name="EnableAutoSave">Automatické uložení na cloud</string>
    <string name="GameLoadingText">Načítání...</string>
    <string name="GameSavingText">Ukládání hry...</string>
    <string name="AutoSave">Automatické uložení</string>
    <string name="ControlsJoystick">Joystick</string>
    <string name="ControlsThrust">Vpřed</string>
    <string name="ControlsLeft">Doleva</string>
    <string name="ControlsRight">Doprava</string>
    <string name="ControlsAction0">Zbraň 1</string>
    <string name="ControlsAction1">Zbraň 2</string>
    <string name="ControlsAction2">Zbraň 3</string>
    <string name="ControlsAction3">Zbraň 4</string>
    <string name="ControlsAction4">Zbraň 5</string>
    <string name="ControlsAction5">Zbraň 6</string>
    <string name="ControlEnabled">Zapnuto</string>
    <string name="LoadPreset">Načíst předvolbu:</string>
    <string name="Test">Test</string>
    <string name="SlideToMove">Pohyb lodi přejížděním prstu po obrazovce</string>
    <string name="UseJoystickForThrust">Ovládání motoru joystickem</string>
    <string name="StopWhenShooting">Při střílení vypnout motor</string>
    <string name="AutoLaunchDrones">Automaticky vypouštět drony</string>
    <string name="SignIn">Přihlásit se</string>
    <string name="SignOut">Odhlásit se</string>
    <string name="Achievements">Úspěchy</string>
    <string name="Difficulty">Obtížnost</string>
    <string name="GameDifficultyInfo">Čím vyšší obtížnost, tím silnější nepřátelé, ale také více odměn. Nelze změnit obtížnost bez vytvoření nové hry.</string>
    <string name="CombatDifficultyInfo">Větší obtížnost znamená silnější nepřátele</string>
    <string name="Easy">Jednoduchá</string>
    <string name="Normal">Těžká</string>
    <string name="NoMods">Originální Hra</string>
    <string name="AvailableMods">Dostupné modifikace:</string>
    <string name="LoadModConfirmation">Opravdu chcete pokračovat? Každá modifikace ma vlastní uloženou hru.</string>
</resources>
